<apex:page id="SuppCatPage"
    cache="false"
    standardStylesheets="false"
    showHeader="false"
    sidebar="false"
    standardController="KnowledgeArticle"
    extensions="BelongSupportCategoryController"
    applyBodyTag="false"
    applyHtmlTag="false"
    docType="html-5.0"
  >
    <c:Belong_Meta_Header pageTitle="{!pageTitle}"
							keyWrdMetaSEO="{!keywordsMeta}"  
							descMetaSEO="{!descriptionMeta}" 
							titleMetaSEO="{!titleMeta}" 
							urlOGMetaSEO="{!urlMetaOG}"
							keyWrdOGMetaSEO="{!keywordsMetaOG}"
							descOGMetaSEO="{!descriptionMetaOG}"
							titleOGMetaSEO="{!titleMetaOG}"
							imgOGMetaSEO="{!imageMetaOG}" />
    <apex:form id="SuppCatForm" styleclass="no-js" lang="en" dir="ltr">
        <body>
            <c:Belong_Header />
            <c:Belong_Page_Heading SearchDisplay="false" BackDisplay="true"/>
            
            <div class="ui-platform">
                <div class="container-wide vmargin">
                    <div class="row collapse-edges">
                        <div class="column small-12 large-3 small-order-2 large-order-1">
                            <c:Belong_Product_Sidebar pkbSupCon="{!pkbCatCon}"/>
                        </div>
                        <div class="column small-12 large-9 small-order-1 large-order-2">
                            <apex:outputPanel id="articleList">
                                <c:Belong_Category_FAQ_Accordion pkbSupCon="{!pkbCatCon}" />
                            </apex:outputPanel>
                            
                        </div>
                        
                    </div>
                </div>
            </div>
        
            <div class="ui-platform footer-search">
                <div class="container-content">
                    <div class="row separators collapse-edges">
                        <div class="column small-12 large-8">
                            <div class="h3">Have other issues?</div>
                            <div class="search-bar">
                                <label for="searchTermInput">
                                    <input id="searchTermInput" class="search-bar__input" type="text" name="search" placeholder="Search Support"/>
                                </label>
                                <a id="searchTermButton" class="search-bar__button">Search</a>
                            </div>
                        </div>
                        <div class="column small-12 large-4 text-center">
                            <div class="h3">Can't find it?</div>
                            <p>Still can’t find what you're looking for?<br />
                                Contact us so one of our Belong team<br />
                                members can assist you.</p>
                            <a class="button secondary contact-us-btn">Contact us</a>
                        </div>
                    </div>
                </div>
            </div>
            <c:Belong_Footer />
        </body>
    </apex:form>
    <site:previewAsAdmin />
    <site:googleAnalyticsTracking />
</apex:page>